:root{
  
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: auto;
  font-family: $open-sans;
  font-weight: 400;
  line-height: 1.6;
  // background-image: url(../images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 1 70%;
  width: 100%;
  display: flex;
}
