.section-intro {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 10rem;

  background-image: url(../../assets/images/background.jpg);
  position: relative;
  @include respond(tab-port) {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  &__text-container {
    flex: 0 1 50%;
    position: relative;
    backdrop-filter: saturate(70%);

    @include respond(tab-land) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__icons-list {
    list-style: none;
    display: flex;

    & li {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }

    & .icon {
      color: #fff;
      font-size: 3rem;
      text-shadow: 4px 0px 4px #000;
      transition: color 0.2s ease-in;

      &:hover {
        color: $color-orange;
      }
    }
  }
}

.section-skills {
  display: flex;
  justify-content: center;
  margin: 1rem 15%;

  @include respond(big-desktop) {
    margin: 1rem 10rem;
  }
  @include respond(tab-land) {
    margin: 1rem 8rem;
  }

  @include respond(tab-port) {
    margin: 1rem 4rem;
  }

  @include respond(phone){
    margin: 1rem 2rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    & > div {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(2, min-content);
      grid-template-columns: 35rem auto;
      grid-template-areas: "photo skills" "photo summary";

      @include respond(tab-land) {
        grid-template-areas: "photo skills" "summary summary";
      }

      @include respond(tab-port){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "photo" "skills" "summary";
      }
    }
  }

  & .section-heading {
    width: 100%;
  }

  &__photo {
    height: 30rem;
    width: auto;
    border-radius: 10px;    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-right: 4rem;
    margin-bottom: 2rem;
    grid-area: photo;

    @include respond(tab-port){
      margin:0 auto 2rem;
    }
  }

  &__skills-container {
    @include respond(tab-port) {
      grid-area: skills;
    }
  }

  &__skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    & li {
      &:not(:last-child) {
        margin-right: .5rem;
      }
      margin-bottom: 1rem;
      background-color: $color-black;
      color: $color-white;
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }
  }

  &__summary {
    grid-area: summary;
  }
}

.section-projects {
  width: 100%;
  background-color: #fff;
  padding: 10rem;
}

.section-contact{
  margin: 2rem 0 3rem;

  &__content{
    width: 50%;
    margin:auto;
    text-align: center;

    @include respond(tab-port){
      width: 80%;
    }
  }
}
