.section-intro {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 10rem;

  background-image: url(../../assets/images/background.jpg);
  position: relative;
  @include respond(tab-port) {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  &__text-container {
    flex: 0 1 50%;
    position: relative;
    backdrop-filter: saturate(70%);

    @include respond(tab-land) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__icons-list {
    list-style: none;
    display: flex;

    & li {
      &:not(:first-child) {
        margin-left: 2rem;
      }
    }

    & .icon {
      color: #fff;
      font-size: 3rem;
      text-shadow: 4px 0px 4px #000;
      transition: color 0.2s ease-in;

      &:hover {
        color: $color-orange;
      }
    }
  }
}

.section-skills{
  display: flex;
  justify-content: center;
  margin:1rem 0;

  &__content{
    flex: 0 1 60%;
    display:flex;
    flex-wrap: wrap;
    & > div{
      display: flex;
    }
  }

  & .section-heading{
    width: 100%;
  }

  &__photo{
    height: 40rem;
    width: auto;
    border-radius: 10px;
    box-shadow: 1rem 0 5rem .5rem rgba($color-black,.2);
    margin-right: 4rem;
  }

  &__skills-container{
    display: flex;
    flex-direction: column;
  }

  &__skills-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    & li{
      &:not(:last-child){
        margin-right: 1rem;
      }
      margin-bottom: 1rem;
      background-color: $color-black;
      color: $color-white;
      font-size: 1.2rem;
      padding: 2rem;
    }
  }

  &__about-link{
    text-decoration: none;
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 600;
    
    &:hover{
      animation: pulseText 1s infinite;
    }
  }
}

.section-projects {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 10rem;
}
